body{
    background-image: url(/images/bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0 5%;
}
nav {
    display: flex;
    flex-direction: row;
    height: 20vh;

}
nav .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}
/* nav .nav-menu-icon {
    display: none;
} */
nav .nav-items {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
nav .brand-logo{
    flex: 1;
    margin: auto;

}
.nav-logo{
    display: block;
}
.brand-logo img{
    height: 80px;
}
.nav-button{
    background-color: #e03b8b;
    border: none;
    padding: 5px 40px;
    border-radius: 20px;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: row;
    flex: 2;
    height: 80vh;
}
.col{
    display: flex;
    flex: 1;
    min-height: 100%;
}
.col-2{
    overflow: hidden;
    /* justify-content: right; */
}
.phone-img{
    overflow: absolute;
    bottom: 0;
    right: 0;
    height: 90vh;
}
.col-1{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:#ffffff;

}
p{
    font-size: 25px;
}
.col-1 h1{
    font-size: 75px;
    margin: 20px 0;
}
.google-paly-img{
    height: 90px;
}