body{
    background-color: #ffffff;
    /* font-family: "Orbitron", serif; */
    overflow-y: hidden;
}
    /* __________________________________Nav Bar Start_______________________________________ */

.container{
    max-width: 75rem;
    margin: 0 auto;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 10vh;
}
.brand-logo{
    width: 120px;

}
.list{
    display: flex;
    list-style-type: none;
    font-family: "Orbitron";
    font-size: 20px;
    font-weight: 500;
}
.list-item{
    text-decoration: none;
    margin-right: 40px;
    
}
.button-group{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.search-icon{
    padding-top: 4px;
}
.nav-button{
    padding: 7px 40px;
    border: 3px solid #000000;
    border-radius: 14px;
    background-color: #FFFFFF;
    margin-left: 20px;
    cursor: text;
}
    /* __________________________________Nav Bar Start_______________________________________ */
.hero-container{
    display: flex;
    position: relative;
    height: 40vh;
}
.hero-container .square > img{
    position: relative;
    width: 250px;
    top: 250px;
    left: 170px;
}
.mypic {
    width: 300px;
    float: left;
    position: absolute;
    top: 75px;
    left: 70px;
}
.hero-container .star {
    position: absolute;
    right: 0px;
}

.hero-container .star .img{
    width: 40px;
}
.hero-container .star:nth-child(2) {
    position: absolute;
    right: 700px;
    top: 490px;
    /* right: 640px;
    top: 490px; */
}
.hero-container .star:nth-child(2) img {
    width: 30px;
}
.hero-container .globe{
    position: absolute;
    left: 680px;
    top: -8px;
}

.hero-container .globe img {
    width: 50px;
}
.hero-container span + div {
    width: 220px;
}
.hero-container-right {
    width: 900px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.hero-container-right .hero-heading {
    font-size: 3.2rem;
    margin-bottom: 50px;
}
.hero-container-right .hero-description {
    color: #8a8989;
    font-size: 15px;
    max-width: 600px;
    text-align: center;
    margin-bottom: 90px;
}

.hero-container-right .button-email {
    font-family: "Orbitron";
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.hero-container-right .button-join {
    font-family: "Orbitron";
    padding: 5px;
    border-radius: 10px;
    background-color: #000000;
    color: #FFFFFF;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 50px;
}
.contact-heading {
    text-align: center;
    font-family: "Poppins";
    color: #605e5e;
    font-weight: 600;
    padding-bottom: 12px;
}
.icons > span > img {
    width: 32px;
    cursor: pointer;
}
.icons > span:not(:last-child) {
    margin-right: 10px;
}
