@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

body{
    text-align: center;
    background-color: #F7CD2E;
    margin: 20% 0px;
}
.banner{
    background-color: #ffffff;
    /* margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 0;
    margin-right: 0; */
    box-shadow: 0px 5px 10px #1f1f1f;

}
h1{
    font-family: "Oswald";
    font-size: 90px;
    font-weight: 3000;
    margin-bottom: 0%;
}
.para{
    text-align: center;
    font-family: "Montserat";
    font-size: 20px;
    font-weight: 20;
    padding-bottom: 20px;
    
}