@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
body{
    background-color: #d5d5d5;
    height: 100vh;
    font-family: 'Roboto' sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 100%;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow {
    position: absolute;
    height: 500px;
    top: 0;
    left: 0;
    z-index: -1;
}
.mockup {
    height: 500px;
}
.form{
    width: 100%;
}
.flex-column{
    flex-direction: column;
}
.form-section{
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    width: 75%;
}
.form-section h1{
    color: #343333;
    margin: 25px 0;
    font-size: 50px;
    font-family: 'Roboto';
    text-transform: capitalize;
}
input{
    font-size: 20px ;
    padding: 12px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #a7a7a7;
    width: 100%;
    margin: 0 6px 10px 6px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn{
    width: 100%;
    padding: 12px 0;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    background-color: #f59e2e;
    outline: none;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-top: 10px;
}
.btn:hover{
    background-color: #1d1d1d;
}
.btn-facebook{
    background-color: #354c8d;
}
.btn-twitter{
    background-color: #889fe9;
}
@media screen and (max-width:600px) {
    .form-section{
        padding: 20px 30px;

    }
    .row{
        flex-direction: column;
    }
    .mockup{
        display: none;
    }
    .main{
        display: grid;
        grid-template-columns: -1fr ;
        position: relative;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .flex{
        width: 100%;
        /* display: flex;
        flex: 0;
        justify-content: center;
        align-items: center; */
        margin: 1px 1px;
        padding: 1px 1px;
    }
    .yellow {
        position: absolute;
        height: 300px;
        top: 0;
        left: 0;
        z-index: -1;
    }
}